<h3 class="nice-font"><%= @team.name %> Timeline</h3>

<hr>
<h5> <strong>Project Due Date: </strong><%= @timeline.date %></h5>
<h5> <strong>Number of Milestones: </strong><%= @timeline.numMilestone %></h5>

