// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nice-link{
    color:white;
    font-size:25px;
}
.nice-link:hover{
    color:rgb(240, 196, 138);
}
